@page "/chats/{id:int}"
@using System.Net.Http.Json
@using ChatApp.DTO;
@using ChatApp.Blazor.Services.Interfaces;
@using Microsoft.AspNetCore.WebUtilities;
@using System.Security.Claims;
@inject IConfiguration Configuration
@inject IChatService ChatService
@inject IUserService UserService
@inject IMessageService MessageService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="d-flex flex-grow-1 flex-row">
    <MudPaper Elevation="25" Class="py-4 flex-grow-1">
        <MudToolBar Dense="true">
            @if (string.IsNullOrEmpty(_chat?.Name))
            {
                <MudIcon Icon="@Icons.Material.Outlined.Person" Style="margin-right:10px"></MudIcon>
                <MudText Typo="Typo.h6">chat</MudText>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Outlined.ChatBubble" Style="margin-right:10px"></MudIcon>
                <MudText Typo="Typo.h6">@_chat?.Name</MudText>
            }
        </MudToolBar>
        <div class="d-flex flex-column-reverse p-4" style="max-height:65vh;min-height:65vh; overflow-y: auto;">
            @foreach (var message in _messages)
            {
                <div class="d-flex flex-row my-4 @((message.SenderId == _currentUserId) ? "align-self-end" : "")">
                    <div class="mr-4">
                        <MudAvatar Color="Color.Primary" Style="height:50px; width:50px;">@message.SenderId</MudAvatar>
                    </div>
                    <div>
                        <MudText Typo="Typo.body1">@message.Sender?.FirstName @message.Sender?.LastName</MudText>
                        <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message.SentTime.ToString("dd MMM, yyyy hh:mm tt")</MudText>
                        <MudText Typo="Typo.body2" Style=" padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">@message.Text</MudText>
                    </div>
                </div>
            }
        </div>
        <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="">
            <MudTextField T="string" Placeholder="Write a message..." DisableUnderLine="true" Class="mt-n2 mx-4"
                          @bind-Value="_currentMessage.Text" For="@(()=> _currentMessage.Text)" />
            <MudButton OnClick="SendMessage" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Dark" ButtonType="ButtonType.Button">Send</MudButton>
        </MudPaper>
    </MudPaper>
</div>

@code {
    [Parameter] public int Id { get; set; }
    public HubConnection _hubConnection { get; set; } = null!;

    private List<MessageDTO> _messages = new List<MessageDTO>();
    private MessageDTO _currentMessage = new MessageDTO();
    private UserInfoDTO _currentUser = new UserInfoDTO();

    private string _currentUserId = null!;
    private ChatDTO? _chat = new ChatDTO();
    private AuthenticationState? _authState;

    protected override async Task OnInitializedAsync()
    {
        _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _chat = await ChatService.GetChatAsync(Id);
        _messages = await MessageService.GetAllMessagesAsync(Id);
        _currentUserId = _authState.User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.NameIdentifier))?.Value;
        _currentUser = await UserService.GetUserByIdAsync(_currentUserId);

        _hubConnection = new HubConnectionBuilder()
            .WithUrl($"{Configuration.GetSection("AppBase").Value}chathub")
            .Build();

        _hubConnection.On<MessageDTO>("ReceiveMessage", async message =>
        {
            _messages.Insert(0, message);
            await InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    private async Task SendMessage()
    {
        _currentMessage.ChatId = _chat.Id;
        _currentMessage.SentTime = DateTime.UtcNow;
        _currentMessage.SenderId = _currentUserId;
        await MessageService.CreateNewMessage(_currentMessage);

        _currentMessage.Sender = _currentUser;
        await _hubConnection.SendAsync("SendMessageAsync", _currentMessage);

        _currentMessage.Text = String.Empty;
    }
}
