@page "/chats/{id:int}"
@attribute [Authorize]

@using System.Security.Claims;
@using System.Net.Http.Json
@using Microsoft.AspNetCore.WebUtilities;
@using ChatApp.Blazor.Services.Interfaces;
@using ChatApp.DTO;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IMessageService MessageService
@inject IChatService ChatService
@inject IUserService UserService

<div class="d-flex flex-grow-1 flex-row">
    <MudPaper Elevation="25" Class="py-4 flex-grow-1">
        <MudToolBar Dense="true">
            <MudIcon Icon="@Icons.Material.Outlined.ChatBubble" Style="margin-right:10px"></MudIcon>
            <MudText Typo="Typo.h6">@(_chat?.Name ?? "chat")</MudText>
        </MudToolBar>
        <div class="d-flex flex-column-reverse p-4" style="max-height:65vh;min-height:65vh; overflow-y: auto;">
            @foreach (var message in _messages)
            {
                <div class="d-flex @((message.SenderId == _currentUserId) ? "flex-row" : "flex-row-reverse") my-4 align-content-start">
                    <div>
                        <MudAvatar Color="Color.Primary" Style="height:45px; width:45px;" Image="@message.Sender.Avatars[^1].Content"></MudAvatar>
                    </div>
                    <div class="mx-2">
                        <MudText Typo="Typo.body1">@message.Sender?.FirstName @message.Sender?.LastName</MudText>
                        <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message.SentTime.ToString("dd MMM, yyyy hh:mm tt")</MudText>
                        <MudText Typo="Typo.body2" Style=" padding: 10px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">@message.Text</MudText>
                    </div>
                </div>
            }
        </div>
        <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="">
            <MudTextField T="string" Placeholder="Write a message..." DisableUnderLine="true" Class="mt-n2 mx-4" @bind-Value="_currentMessage.Text" />

            <MudButton OnClick="SendMessage" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Dark" ButtonType="ButtonType.Button">Send</MudButton>
        </MudPaper>
    </MudPaper>
</div>

@code {
    [Parameter] public int Id { get; set; }
    private HubConnection HubConnection;

    private AuthenticationState? _authState;
    private UserDTO _currentUser = new UserDTO();
    private string _currentUserId = null!;

    private ChatDTO? _chat = new ChatDTO();
    private MessageDTO _currentMessage = new MessageDTO();
    private List<MessageDTO> _messages = new List<MessageDTO>();

    protected override async Task OnInitializedAsync()
    {
        _chat = await ChatService.GetChatAsync(Id);
        _messages = await MessageService.GetAllMessagesAsync(Id);

        _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _currentUserId = _authState.User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.NameIdentifier))?.Value!;
        _currentUser = await UserService.GetUserByIdAsync(_currentUserId);

        HubConnection = new HubConnectionBuilder()
            .WithUrl($"{Configuration.GetSection("AppBase").Value}chathub")
            .Build();

        if (HubConnection.State == HubConnectionState.Disconnected)
        {
            await HubConnection.StartAsync();
        }

        HubConnection.On<MessageDTO>("ReceiveMessage", async message =>
        {
            _messages.Insert(0, message);
            await InvokeAsync(StateHasChanged);
        });
    }

    private async Task SendMessage()
    {
        if (!String.IsNullOrEmpty(_currentMessage.Text))
        {
            _currentMessage.ChatId = _chat!.Id;
            _currentMessage.SentTime = DateTime.UtcNow;
            _currentMessage.Sender = _currentUser;
            _currentMessage.SenderId = _currentUserId;
            await MessageService.CreateNewMessage(_currentMessage);

            _currentMessage.Sender = _currentUser;

            Console.WriteLine($"State: {HubConnection.State}");
            Console.WriteLine($"ConnectionId: {HubConnection.ConnectionId}");
            Console.WriteLine($"ServerTimeout: {HubConnection.ServerTimeout}");
            Console.WriteLine($"HandshakeTimeout: {HubConnection.HandshakeTimeout}");
            await HubConnection.SendAsync("SendNewMessageAsync", _currentMessage);
            Console.WriteLine($"State: {HubConnection.State}");
            Console.WriteLine($"ConnectionId: {HubConnection.ConnectionId}");
            Console.WriteLine($"ServerTimeout: {HubConnection.ServerTimeout}");
            Console.WriteLine($"HandshakeTimeout: {HubConnection.HandshakeTimeout}");

            _currentMessage.Text = String.Empty;
        }
    }

    private async Task InitializeHubConnection()
    {
        HubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri($"{Configuration.GetSection("AppBase").Value}chathub"))
            .Build();

        HubConnection.On<MessageDTO>("ReceiveMessage", async (message) =>
        {
            _messages.Insert(0, message);
            StateHasChanged();
        });

        if (HubConnection.State == HubConnectionState.Disconnected)
        {
            await HubConnection.StartAsync();
        }
    }
}
